* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    height: 50vh; /* Full height */
    background-image: url(../public/imgs/cover.jpg); /* Add your image path here */
    background-size: cover; /* Make the image cover the entire container */
    background-position: center; /* Center the background image */
    display: flex; /* Enable flexbox to center content */
    flex-direction: row;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: relative;
}

.content {
    text-align: center; /* Center textboxes */
    /*background-color: rgba(255, 255, 255, 0.8);*/ /* Optional: add background with opacity to highlight textboxes */
    padding: 20px; /* Add padding */
    border-radius: 10px; /* Round the corners */
}

.button {
    position: absolute;
    top: 2vw;
    right: 3vw;
    background-color: rgb(128, 128, 128, 0.5);
    border-radius: 10px;
    padding-left: 1%;
    padding-bottom: 0.25%;
    padding-right: 5vw;
    color: #ffffff;
    background-size: 20%;
    background-image: url(../public/imgs/login.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 90%;
}

#Pic{
    color: #00ffff;
}
#Hub{
    color: #b200ff;
}

.textbox {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.picsCol1, .picsCol2, .picsCol3 {
    display: flex;
    flex-direction: column; /* Arrange items in a column layout */
    flex-wrap: wrap;
    align-items: flex-start; /* Align items to the start of the flex container */
    gap: 5px;
}
.picsCol1 img, .picsCol2 img, .picsCol3 img {
    border-radius: 2%;
    width: 32.5vw;
    height: auto;
    /*display: inline-block;*/
    vertical-align: top;
    object-fit: cover; /* Ensures images are contained within the fixed width */
    flex: 0 0 auto; /* Flex grow, shrink, and basis */
}

.pics {
    display: flex;
    flex-direction: row; /* Arrange items in a column layout */
    flex-wrap: wrap;
    align-items: flex-start; /* Align items to the start of the flex container */
    gap: 5px;
}
.pics img {
    border-radius: 2%;
    width: 32.7vw;
    height: auto;
    /*display: inline-block;*/
    vertical-align: top;
    object-fit: cover; /* Ensures images are contained within the fixed width */
    flex: 0 0 auto; /* Flex grow, shrink, and basis */
}

.pic:hover .bar {
    display: flex;
}

.bar {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.7);
    width: 32.7vw;
    border-radius: 5px;
    padding: 0px;
    color: #00FFAB;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-in-out;
}
#num {
    float: right;
    color: #00ff90;
    background-color: rgba(0, 0, 0, 0.7) ;
    font-family: 'Roboto', sans-serif; /* Change the font */
    font-size: 16px; /* Slightly smaller text */
    font-weight: bold;
    padding: 5px;
    border: none;
}
#view, #comment, #report {
    padding-left: 5%;
    color: #00ffAB;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Roboto', sans-serif; /* Change the font */
    font-size: 16px; /* Slightly smaller text */
    font-weight: bold;
    padding: 5px;
    padding-left: 15%;
    border: none;
}
#heart_empty{
    width: 5.5%;
    height: 5.5%;
    float: left;
    padding-left: 1.5%;
}

body {
    font-size: 36px;
    background-color: #1E1E1E;
}
